
command script import ./tasks/lldb/lldb_pretty_printers.py
type category enable zig.lang
type category enable zig.std
<!-- # `type category enable zig.lang` to enable pretty printing for the zig language
# `type category enable zig.std` to enable pretty printing for the zig standard library
# `type category enable zig.stage2` to enable pretty printing for the zig stage 2 compiler -->
